* {
    margin: 0;
    padding: 0;
}
main{
    margin-left: 100px;
}
.brand{
    display: flex;
}
.m-brand{
    display: none;
}

.b-name{
    padding: 10px;
    font-size: x-large;
    font-family:'Courier New', Courier, monospace;
}
header {
    padding: 40px 40px;
}

.nav-main {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar ul {
    list-style-type: none;
    display: flex;
}

.navbar li {
    margin-right: 70px;
    cursor: pointer;
}

.menu-icon {
    display: none;
    cursor: pointer;
}

.mobile-nav {
    display: none;
}


.hero {
    background-image: url('/public/Images/hero.png');
    background-size: cover;
    height: 80vh;
    padding: 10px;
    width: calc(100% - 90px);
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}
.hero h1{
    color: white;
    font-size: 80px;
}
.hero p{
    color: white;
}
.input-grp{
    background-color: rgba(255, 255, 255, 0.441);
    display: flex;
    width: 70%;
    height: 50px;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-left: 15%;
}
.input-grp input[type="text"]{
    height: 15px;
    padding: 10px;
    border: none;
}

.input-grp input[type="text"]:hover{
    outline: none;
}
.ig-sec1 select{
    height: 35px;
}
.ig-sec2 select{
    height: 35px;
}
.input-grp button{
    background-color: orangered;
    color: white;
    height: 30px;
    border: none;
    padding: 10px;
}

.popular-tour{
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    margin-right: 50px;
}

.popular-tour-p{
    height: 100vh;
    width: 50%;
}
.pt-1{
    font-size: 50px;
    margin-bottom: 10px;
}
.pt-2{
    color: grey;
    margin-bottom: 10px;
}
.pt-3 li{
    margin-left: 40px;
    font-size: 24px;
    margin-bottom: 8px;
}
.pt-4{
    color: grey;
    margin-bottom: 10px;
}
.popular-tour button{
    width: 100px;
    height: 30px;
    background-color: orangered;
    border: none;
    color: white;
    font-weight: bolder;
}
.des-image-galary{
    margin-left: 250px;
    margin-bottom: 100px;
}
.des-head{
    text-align: center;
    margin-bottom: 50px;
}
.des-head-p1{
    font-size: 50px;
}
.des-head-p2{
    color: grey;
}
.des-r-1{
    display: flex;
    gap: 30px;
}
.des-r-11{
    position: relative;
    display: inline-block;
}
.des-r-11 p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}
.des-r-12{
    position: relative;
    display: inline-block;
}
.des-r-12 p{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}
.des-r-2{
    margin-top: 10px;
}
.des-r-21 {
    position: relative;
    display: inline-block;
}

.des-r-21 p{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

.des-r-22 {
    position: relative;
    display: inline-block;
}

.des-r-22 p{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

.des-r-23 {
    position: relative;
    display: inline-block;
}

.des-r-23 p{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

.des-r-3{
    margin-top: 10px;
    display: flex;
    gap: 30px;
}

.des-r-2{
    display: flex;
    gap: 25px;
}

.des-r-31 {
    position: relative;
    display: inline-block;
}

.des-r-31 p{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}
.des-r-32 {
    position: relative;
    display: inline-block;
}

.des-r-32 p{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}
.choose{
    margin-bottom: 100px;
}
.choose-head{
    text-align: center;
}
.ch-p1{
    font-size: 50px;
}

.ch-p2{
    color: grey;
}

.ch-r1{
    margin-top: 50px;
    display: flex;
    gap: 20px;
}
.hotel, .service{
    width: 40%;
    padding: 50px;
    background-color: whitesmoke;
    border-radius: 20px;
    border: 1px solid rgba(255, 0, 0, 0.274);
}

.hotel-p1{
    font-weight: bolder;
}
.service-p1{
    font-weight: bolder;
}
.hotel img{
    width: 70px;
}

.service img{
    width: 70px;
}

.b-price{
    margin-top: 30px;
    width: 100%;
}
.b-price-mirror{
    width: 40%;
    padding: 50px;
    background-color: whitesmoke;
    border-radius: 20px;
    border: 1px solid rgba(255, 0, 0, 0.274);
    margin-left: 25%;
}
.bpm-p1{
    font-weight: bolder;
}
.b-price-mirror img{
    width: 70px;
}

.newsletter{
    display: flex;
    margin-bottom: 100px;
    justify-content:space-between;
    margin-right: 50px;
}
.newsform{
    border: 1px solid orangered;
    padding: 40px;
    border-radius: 20px;
    width: 30%;
}
.newsform-p1{
    font-size: 40px;
    font-weight: bolder;
}
.newsform-p2{
    color: grey;
    margin-bottom: 30px;
}
.newsform-fi-1{
    margin-top: 30px;
}

.newsform-fi-1 input, .newsform-fi-2 input{
    height: 30px;
    width: 95%;
    padding: 8px;
    margin-bottom: 40px;
    background-color: gainsboro;
    border: none;
}

.newsform button{
    width: 100%;
    height: 40px;
    border: none;
    background-color: orangered;
    color: white;
    font-weight: bolder;
}
.news-image{
    position: relative

}
.news-off{
    background-color: orangered;
    width: 300px;
    height: 100px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    color: white;
    border-radius: 10px;
    position: absolute;
    margin-top: 30%; 
    margin-left: 50%;
    transform: rotate(-30deg);
}
.news-off-p2{
    font-weight: bolder;
    font-size: x-large;
}
footer{
    background-color: #F3F3F3;
    padding: 50px;
}

.footer-head{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}
.ft-p{
    text-align: center;
    margin-bottom: 40px;
}
.footer-icon{
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-icon i{
    padding: 10px;
    margin-bottom: 20px;
}
.fi-p{
    text-align: center;
    margin-top: 60px;
    margin-bottom: 60px;
}
@media screen and (max-width: 600px) {
   
    .nav-main {
        display: none;
    }
    .m-brand{
        display: flex;
        margin-top: -40px;
    }

    .m-brand-name{
        padding: 15px;
        font-family:'Courier New', Courier, monospace;
    }

    .menu-icon {
        padding: 10px;
        display: block;
        text-align: end;
    }

    .mobile-nav {
        display: none;
        padding: 20px;
        text-align: center;
        background: grey;
        transition: 0.6s;
        margin-top: 10px;
    }
    .mobile-nav.show {
        display: block;
    }
    .mobile-nav li {
        padding: 5px;
        color: white;
        margin: 15px;
        list-style-type: none;
    }

    .popular-tour{
        flex-direction: column;
    }

    .popular-tour-p{
        width: 100%;
        align-items: center;
    }

    .pt-1{
        font-size: 40px;
    }
    .pt-2{
        font-size: 16px;
    }
    .pt-3 li{
        font-size: 12px;
    }
    .popular-tour-img{
        width: 80%;
    }

    /* Destination */
    .des-head-p1{
        color: red;
    }
    .des-head-p1{
        font-size: 40px;
    }

    .des-head{
        margin-bottom: 20px;
    }
    .des-r-1, .des-r-2, .des-r-3{
        flex-direction: column;
    }

    .des-r-11,.des-r-12{
        position: relative;
        text-align: center;
    }
    .des-r-11,.des-r-12 > img{
        width: 100%;
    }
    .des-r-1 p{
        position: absolute;
        top: 50%;
        left: 50%;
        color: white;
        font-size: x-large;
    }
    .des-r-12 > p{
        margin-top: 100px; 
    }
    .ch-r1{
        flex-direction: column;
        width: 100%;
    }
    .hotel, .service{
        width: 80%;
    }
    .b-price{
        width: 100%;
    }
    .b-price-mirror{
        width: 80%;
        margin-left: 2px;
    }
    .newsletter{
        display: flex;
        flex-direction: column;
        width: calc(100% - 10px);
        align-items: center;
        justify-content: center;
    }

    .newsform{
        border: 1px solid orangered;
        padding: 20px;
        margin-bottom: 50px;
        width: 90%;
    }
    .newsform-p1{
        font-size: 20px;
        font-weight: bolder;
    }
    .newsform-p2{
        font: 18px;
        color: grey;
        margin-bottom: 30px;
    }
    
    .newsform-fi-1 input, .newsform-fi-2 input{
        height: 30px;
        width: 100%;
        padding: 4px;
        margin-bottom: 40px;
    }
    .newsform button{
        width: 100%;
        height: 40px;
        border: none;
        background-color: orangered;
        color: white;
        font-weight: bolder;
    }
    .news-imgage {
        width: 80%;
    }
}